<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/css/materialize.min.css">
<%= render 'layouts/navbar' %>

<div class="container">
<h1>Welcome, <%= current_user.name %>! </h1>

  <table class="table table-responsive table-striped table-bordered">
    <thead>
      <tr>
        <th><div class="panel-heading"><%= link_to 'Community Name', dashboard_path + '?sort=community_name', :id => 'community_name' %> </div> </th>
        <th><div class="panel-heading"> Total Loan Amount</div></th>
        <th><div class="panel-heading"> <%= link_to 'Max Loan Amount', dashboard_path + '?sort=max_loan_amount', :id => 'max_loan_amount'%></div></th>
        <th><div class="panel-heading"> Interest Rate</div> </th>
        <th><div class="panel-heading"> Loan Period (months)</div> </th>
        <th><div class="panel-heading"> Address</div> </th>
      </tr>
    </thead>

  <tbody>
    <% @communities.each do |c| %>
    <tr>
      <td><%= link_to c.name, c %></td>
      <td>$<%= c.total_loan_amount %></li></td>
      <td>$<%= c.max_loan_amount %></li></td>
      <td><%= c.interest_rate %>%</td>
      <td><%= c.loan_period %></td>
      <% if c.address %><td><%= c.address.format %></td>
      <% end %>

    </tr>
    <% end %>
  </tbody>

  </table>

     <select id="radius">
       <option>1</option>
       <option>5</option>
       <option>10</option>
     </select>
     <input id="zip" />
     <button id="get-codes">Get Codes</button>

     <div class="row">
         <div class="col s12">
           <div class="row">
             <div class="input-field col s12">
            <%= form_tag dashboard_path, :method => "get", :id => "community_search" do %>
               <%= text_field_tag :search, params[:search], placeholder: "Search", class: 'autocomplete' %>
               <label for="autocomplete">Autocomplete</label>
               <%= submit_tag "Search", :id => "search_submit" %>
            <% end %>
             </div>
           </div>
         </div>
       </div>


</div>
