<%= render 'layouts/navbar' %>

<div class="container">
<h1>Welcome, <%= current_user.name %>! </h1>
 
  <table class="table table-responsive table-striped table-bordered">
    <thead>
      <tr>
        <th><div class="panel-heading"> Community Name</div> </th>
        <th><div class="panel-heading"> Total Loan Amount</div></th>
        <th><div class="panel-heading"> Max Loan Amount</div></th>
        <th><div class="panel-heading"> Interest Rate</div> </th>
        <th><div class="panel-heading"> Loan Period (months)</div> </th>
        <th><div class="panel-heading"> Zipcode</div> </th>

      </tr>
    </thead>

  <tbody>
    <% @communities.each do |c| %>
    <tr>
      <td><%= link_to c.name, c %></td>
      <td>$<%= c.total_loan_amount %></li></td>
      <td>$<%= c.max_loan_amount %></li></td>
      <td><%= c.interest_rate %>%</td>
      <td><%= c.loan_period %></td>
      <td><%= c.zipcode %></td>
    </tr>
    <% end %>
  </tbody>

  </table>
 <%= form_tag communities_path, :method => "get", :id => "community_search" do %>
  <%= text_field_tag :search_name, params[:search_name], placeholder: "Search by names" %>
  <%= submit_tag "Search", :id => "search_submit" %>
  <% end %>
 <%= form_tag communities_path, :method => "get", :id => "community_search" do %>
  <%= text_field_tag :search_zipcode, params[:search_zipcode], placeholder: "Search by zipcode" %>
  <%= submit_tag "Search", :id => "search_submit" %>
  <% end %>




</div>
