
<% if !current_user.community.nil? %>

<div class="upper">
    <div class="col-xs-6 col-md-4 center">

      <div id="profile-pic">
          <% if @community.images.count == 0 %>
            <form action="/upload" class="dropzone" style="width: 300px; height: 263px;"
              id="myZone" encType="multipart/data">
                <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
            </form>
          <% else %>
            <%= image_tag('/uploads/' + @community.images.first.location, width: 300) %>
          <% end %>
      </div>
    </div>

    <div class="col-xs-12 col-md-8">
        <h1 style="text-align:center"> Community Profile </h1>
      <div id="description">
        Name: <%= @community.name %><br>
        Description: <%= @community.description %><br>
        Terms: <%= @community.terms %><br>
        Phone Number: <%= @community.number %><br>
        Email: <%= @community.email %><br>
        Website: <%= @community.website %><br>
      <% if current_user.role == "Borrower" %>
        <button data-toggle="modal" data-target="#modal-2" class="item2 btn btn-primary">Request a Loan</button>
      <% end %>
      </div>
    </div>

</div>
<!-- upper -->
  <div class="lower">
    <div class="row tile_count">
      <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
        <span class="count_top"><i class="fa fa-clock-o"></i>Total Amount</span>

        <div class="count">$<%= @community.total_loan_amount %></div>
        <span class="count_bottom"><i class="green"><i class="fa fa-sort-asc"></i>3% </i> From last Week</span>
      </div>
      <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
        <span class="count_top"><i class="fa fa-user"></i>Max Loan Amount</span>
        <div class="count green">$<%= @community.max_loan_amount %></div>
      </div>
      <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
        <span class="count_top"><i class="fa fa-user"></i>Interest Rate</span>
        <div class="count"><%= @community.interest_rate %>.00%</div>
        <span class="count_bottom"><i class="red"><i class="fa fa-sort-desc"></i>+1.00% </i> From last Week</span>
      </div>
      <div id="last-one" class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
        <span class="count_top"><i class="fa fa-user"></i>Loan Period</span>
        <div class="count"> <%= @community.loan_period %></div>
      </div>
    </div>
<!-- lower -->
  </div>
  <% else %>
  <h1 class="text-center">Welcome, <%= current_user.name%>! </h1>
  <blockquote>
  <%= link_to "Create a community", new_community_path %>
</blockquote>


  <% end %>
