<%= render 'layouts/navbar' %>
<div class="container">
  <div class="upper">
    <h1 style="text-align:center"> Community Profile </h1>
    <% if !current_user.community.nil? %>
      <%= link_to 'Edit', edit_community_path(@community) %><br>
      <%= link_to 'All Communities', communities_path %><br>
      <div id="profile-pic">
          <% if @community.images.count == 0 %>
            <form action="/upload" class="dropzone" style="width: 300px; height: 263px;"
              id="myZone" encType="multipart/data">
                <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
            </form>
          <% else %>
            <%= image_tag('/uploads/' + @community.images.first.location, width: 300) %>
          <% end %>
      </div>
      <div id="description">
        Name: <%= @community.name %><br>
        Description: <%= @community.description %><br>
        Terms: <%= @community.terms %><br>
        Phone Number: <%= @community.number %><br>
        Email: <%= @community.email %><br>
        Website: <%= @community.website %><br>

      </div>



    <% else %>
      <%= link_to "Create a community", new_community_path %>
    <% end %>
  <!-- upper -->
  </div>
<% if @community %>
  <div class="lower">
    <div class="row tile_count">
      <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
        <span class="count_top"><i class="fa fa-clock-o"></i>Total Amount</span>

        <div class="count">$<%= @community.total_loan_amount %></div>
        <span class="count_bottom"><i class="green"><i class="fa fa-sort-asc"></i>3% </i> From last Week</span>
      </div>
      <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
        <span class="count_top"><i class="fa fa-user"></i>Max Loan Amount</span>
        <div class="count green">$<%= @community.max_loan_amount %></div>
      </div>
      <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
        <span class="count_top"><i class="fa fa-user"></i>Interest Rate</span>
        <div class="count"><%= @community.interest_rate %>.00%</div>
        <span class="count_bottom"><i class="red"><i class="fa fa-sort-desc"></i>+1.00% </i> From last Week</span>
      </div>
      <div id="last-one" class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
        <span class="count_top"><i class="fa fa-user"></i>Loan Period</span>
        <div class="count"> <%= @community.loan_period %></div>
      </div>
    </div>
<!-- lower -->
  </div>

<!-- container -->
<div class="modal fade mymodal" id="modal-2" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"> <i class='fa fa-times'></i> </button>


        <h4 class="modal-title" id="myModalLabel">Request a Mentor</h4>
      </div>
      <div class="modal-body">
        <%= form_for @loan do |l| %>
          <%= l.label :body %>
          <%= l.text_field :body %>
          <%= l.hidden_field :community_id, value: @community.id %>
          <%= l.submit %>
        <% end %>
      </div>
    </div>
  </div>
</div>
<div class="minmaxCon"></div>
<% end %>

<!-- MODAL ABOUTME -->



  <!-- END MODEL ABOUTME -->

<script>
  <% if current_user.community %>
    community_id = <%= current_user.community.id %>
  <% end %>
</script>
