<nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
            </button>
            <a class="navbar-brand page-scroll" href="#page-top">esential</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav navbar-right">
            <% if user_signed_in? %>

              <li><%= link_to('Logout', destroy_user_session_path, :method => :delete) %></li>
              <li><%= link_to('Settings', edit_user_registration_path) %></li>
            <% else %>
              <li><%= link_to('Login', new_user_session_path)  %></li>
              <li><%= link_to('Register', new_user_registration_path)  %></li>
            <% end %>
          </ul>

        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
    </nav>
    <div style="margin-top:50px;">

      <% if current_user.community.nil? %>
        <%= link_to "Create a Community", new_community_path %>
      <% end %>

<div id="community-photo">
</div>
<% if @community %>
    <%= @community.name %>
    <%= @community.description %>
    <%= @community.total_loan_amount %>
<% end %>
  </div>

    <table id="LI">
      <tbody>
        <tr>
          <th>Loan Information    </th>
        </tr>
        <tr>
          <th>Total $: </th>
        </tr>
        <tr>
          <th>Maximum Loan Amount $: </th>
        </tr>
        <tr>
          <th>Interest Rate $:</th>
        </tr>
        <tr>
          <th>Loan Period:</th>
        </tr>
      </tbody>
    </table>
    <table id="CI">
      <tbody>
        <tr>
          <th>Contact Information          </th>
        </tr>
        <tr>
          <th>Phone Number: @community</th>
        </tr>
        <tr>
          <th>Email:</th>
        </tr>
        <tr>
          <th>Address:</th>
        </tr>
      </tbody>
    </table>

<% if @community.images.count == 0 %>
  <form action="/upload"
        class="dropzone"
        id="myZone" encType="multipart/data">
      <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
    </form>
<% else %>
  <%= image_tag @community.images.last.location %>

<% end %>
