<div class="login">
<%= form_for(resource, as: resource_name, url: session_path(resource_name), :html => {:id => "msform"}) do |f| %>
  <%= devise_error_messages! %>


<fieldset class="bigger-field">
    <h3 class="fs-title">Login</h3>


        <%= f.text_field :email, placeholder: 'Email'%>
        <%= f.password_field :password, autocomplete: "off", placeholder: 'Password' %>

      <% if devise_mapping.rememberable? -%>
          <%= f.check_box :remember_me %>
          <%= f.label :remember_me %>
      <% end -%>

        <div class="actions">
          <%= f.submit "Log in", :class => 'action-button' %>
        </div>

      <%= render "devise/shared/links" %>
</fieldset>
<% end %>
</div>
