<h1>Edit Existing Community</h1>
<%= form_tag community_path(@community), :method => :PUT do %>
  <%= label :community, :name, 'Name' %>
  <%= text_field :community, 'name' %>
  <%= label :community, :description, 'Description' %>
  <%= text_field :community, 'description'%>
  <%= label :community, :terms, 'Terms' %>
  <%= text_field :community, 'terms' %>
  <%= label :community, :number, 'Number' %>
  <%= text_field :community, 'number' %>
  <%= label :community, :email, 'Email' %>
  <%= text_field :community, 'email' %>
  <%= label :community, :website, 'Website' %>
  <%= text_field :community, 'website' %>
  <%= label :community, :max_loan_amount, 'Maximum Loan Amount' %>
  <%= text_field :community, 'max_loan_amount' %>
  <%= label :community, :total_loan_amount, 'Total Loan Amount' %>
  <%= text_field :community, 'total_loan_amount' %>
  <%= label :community, :interest_rate, 'Interest Rate' %>
  <%= text_field :community, 'interest_rate' %>
  <%= label :community, :loan_period, 'Loan Period' %>
  <%= text_field :community, 'loan_period' %>
  <%= submit_tag 'Update Community Info' %>
<% end %>
