<%= form_for community_path(@community) do |f| %>

  <%= f.label :name %>
  <%= f.text_field :name %><br />

  <%= f.label :description %>
  <%= f.text_field :description %><br />

  <%= f.label :number %>
  <%= f.text_field :number %><br />

  <%= f.label :website %>
  <%= f.text_field :website %><br />

  <%= f.label :total_loan_amount %>
  <%= f.text_field :total_loan_amount %><br />

  <%= f.label :max_loan_amount %>
  <%= f.text_field :max_loan_amount %><br />

  <%= f.label :interest_rate %>
  <%= f.text_field :interest_rate %><br />

  <%= f.label :loan_period %>
  <%= f.text_field :loan_period %><br />

  <%= f.label :terms %>
  <%= f.text_field :terms %><br />

  <div class="actions">
    <%= f.hidden_field :user_id, :value => current_user.id %>
  </div>


  <%= f.submit %>
<% end %>
