<%= render 'layouts/navbar' %>

  <div class="col-sm-6 col-md-4" style="position:absolute; margin:auto; right: 0; left:0;">
    <div class="thumbnail">
      <div class="caption">
        <h3><%= @community.name %></h3>
          Description: <%= @community.description %><br>
          Total Loan Amount: $<%= @community.total_loan_amount %><br>
          Interest Rate: <%= @community.interest_rate %>%<br>
          <%= link_to "Back", :back, :class => 'btn btn-primary' %>
      </div>
    </div>
  </div>
